<footer class="page-footer indigo" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
              <div class="col s6">
                <a href="http://www.ull.es/">
                    <img src="img/ull.png" height="35px" style="border: 0; float: left; margin-right: 15px;" /> 
                    <h5 class="white-text" style="line-height: 35px; margin: 0;">Universidad de La Laguna</h5>
                </a> 
              </div>
              <div class="col s6" style="text-align: right;">
                <a href="https://www.nokia.com/es_int">
                    <h5 class="white-text" style="line-height: 35px; margin: 0; display: inline-block;">Nokia</h5>
                    <img src="img/nokia.png" height="35px" style="border: 0; float: right; margin-left: 15px;" /> 
                </a> 
              </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container" style="text-align: center;">
            <!-- <a href="https://github.com/alu0100697414"><img id="github" src="img/github.png" height="50%" style="margin-top:1%;"></a>
            <a href="#"><img id="linkedin" src="img/linkedin.png" height="50%" style="margin-top:1%;"></a>
            <a href="#"><img id="twitter" src="img/twitter.png" height="50%" style="margin-top:1%;"></a>
            <a href="#"><img id="google" src="img/google.png" height="50%" style="margin-top:1%;"></a>
            <a href="#"><img id="cv" src="img/cv.png" height="50%" style="margin-top:1%;"></a> -->
            <span>© 2018 Todos los derechos reservados | </span>
            <a class="grey-text text-lighten-4" href="/contacto">Contacto</a>
        </div>
    </div>
</footer>
