<footer class="page-footer indigo">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
              <div class="col s6">
                <a href="http://www.ull.es/"><h5 class="white-text">Universidad de La Laguna</h5></a>
              </div>
                <p class="grey-text text-lighten-4 right" style="margin-right:2%;">Aplicación segura para la protección de personas.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a href="https://github.com/alu0100697414"><img id="github" src="img/github.png" height="50%" style="margin-top:1%;"></a>
            <a href="#"><img id="linkedin" src="img/linkedin.png" height="50%" style="margin-top:1%;"></a>
            <a href="#"><img id="twitter" src="img/twitter.png" height="50%" style="margin-top:1%;"></a>
            <a href="#"><img id="google" src="img/google.png" height="50%" style="margin-top:1%;"></a>
            <a href="#"><img id="cv" src="img/cv.png" height="50%" style="margin-top:1%;"></a>
            <a class="grey-text text-lighten-4 right" href="#">Contacto</a>
        </div>
    </div>
</footer>
