<% include _head.ejs %>
<body ng-controller="ContactCtrl">
<% include _navbar.ejs %>

<main><div class="container">
  <div class="row">
    <br><br>
    <h4 class="center indigo-text"> Se ha producido un error al enviar el mensaje </h4>
  </div>

  <img src="img/envelope.png" alt="Error al enviar el mensaje" style="display: block; margin: 0 auto;">
  
  </div></main>

  <% include _footer.ejs %>

  </body>
</html>
