<% include _head.ejs %>
<body ng-controller="EstadoAgresoresCtrl">
<% include _navbar.ejs %>

<main><div class="container">
    <div class="row">
        <br><br>
        <h2 class="center indigo-text"> Estado de los agresores </h2>
        <h6 class="center indigo-text"> (Estado actual en el que se encuentran los agresores por medio de sus dispositivos) </h6>
    </div>

    <br>

    <div class="row">
        <div class="col m12 s12">
            <table class="responsive-table bordered">
                <thead>
                <tr>
                    <th data-field="Lugar">MAC Víctima</th>
                    <th data-field="Lugar">Nombre</th>
                    <th data-field="Distancia">Número</th>
                    <th data-field="Distancia">Ubicación</th>
                    <th data-field="Bateria">Batería</th>
                    <th data-field="Bateria">Última actualización</th>
                    <th data-field="next_ping">Siguiente ping en</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="estado in estados.0">
                    <td>{{estado.mac}}</td>
                    <td>{{estado.name_aggressor}}</td>
                    <td>{{estado.number_aggressor}}</td>
                    <td ng-if="estado.latitude_aggressor != 'null' && (estado.distance < 1 || estado.panic_button_time > estados.1)"><a href="http://maps.google.com/maps?z=12&t=m&q=loc:{{estado.latitude_aggressor}}+{{estado.longitude_aggressor}}" target="_blank">Enlace</a></td>
                    <td ng-if="estado.latitude_aggressor != 'null' && (estado.distance >= 1 && estado.panic_button_time <= estados.1)">-</td>
                    <td ng-if="estado.latitude_aggressor == 'null'">GPS desactivado</td>
                    <td>{{estado.battery_aggressor}}</td>
                    <td>{{estado.time_aggressor}}</td>
                    <td ng-if="estado.updated_date != 'Esperando...'">{{estado.updated_date}}</td>
                    <td ng-if="estado.updated_date == 'Esperando...'" style="color:red;">{{estado.updated_date}}</td>
                    <td>
                        <a ng-click="delete(estado._id)" class="btn btn-floating waves-effect waves-light red hoverable">
                          <i  class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div></main>
<% include _footer.ejs %>
</body>
</html>
