<% include _head.ejs %>
<body ng-controller="HomeCtrl">
<% include _navbar.ejs %>
<main><div id="index-banner" class="parallax-container" style="height:550px;">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="center">
                <h4 class="header center white-text">Protección de personas</h4>
                <img id="logo" src="img/logo.png" style="margin-top:10%;" width="35%" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="img/fondo_inicio.jpg"
                alt="Unsplashed background img 1" style="width:100%; display: block; transform: translate3d(-50%, 166px, 0px);">
    </div>

</div>
</main>

<% include _footer.ejs %>

</body>
</html>
