<% include _head.ejs %>
<body ng-controller="HomeCtrl">
<% include _navbar.ejs %>
<main><div id="index-banner" class="parallax-container" style="height:550px;">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="center">
                <h4 class="header center white-text">Protección de personas</h4>
                <img id="logo" src="img/logo.png" style="margin-top:10%;" width="35%" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="img/fondo_inicio.jpg"
                alt="Unsplashed background img 1" style="width:100%; display: block; transform: translate3d(-50%, 166px, 0px);">
    </div>

</div>
<div class="container">
    <div class="row" style="margin-top: 2%;">
            <div class="row center">
                <h4 class="header col s12 indigo-text light">
                  Acerca de
                </h4>
        </div>
        <div>
          <div class="col s6" style="margin:8% 0% 8% 0%;">
              <p style="float:left;" align="justify" height="50%" width="35%">
                Yo, José Ángel Concepción Sánchez, estudiante del último curso del Grado en
                Ingeniería Informática, he realizado este proyecto como Trabajo Final de Grado.
                Esta Web se encargará del control de la seguridad de las víctimas de la violencia
                de género, ayudada por una aplicación móvil que envía vídeo y audio en tiempo
                real en caso de que el agresor/a se acerque demasiado a esta.
              </p>
          </div>
          <div class="col s6">
              <img id="foto_perfil" src="img/perfil.jpg" class="img-responsive" height="50%" width="75%" style="border-radius:30%;float:right;">
          </div>
        </div>
    </div>
</div></main>

<% include _footer.ejs %>

</body>
</html>
